<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <link rel="icon" type="image/x-icon" href="/resource/favicon/fav.ico">
  <title>Pavan Raiyani | Web Developer </title>
</head>

<body>




  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand fs-4 mr-5" href="/">Pavan Raiyani</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/">Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="https://pavanraiyani.in/Pavan%20Raiyani.pdf">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact me</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container-fluid">

    <div class="section-1  d-flex pt-4  row align-items-center  ">

      <span class="fs-1 mt-4 title text-center">Hello, My name is Pavan Raiyani <br><span style="  font-weight: 200; "
          class="fs-2  title-2 text-center  ">Web Developer </span> </span>





      <div class="   text-center mt-2">

        <a href="https://pavanraiyani.in/Pavan%20Raiyani.pdf" class="btn mb-2 btn-secondary"> Download Resume</a> <br>

        <a class="btn link btn-light" href="https://pavanraiyani.in/Pavan%20Raiyani.pdf">Open Online <img height="16px" width="16px" class="link"
            src="./resource/gif/icons8-link.gif" alt=""> </a>
      </div>



    </div>






  </div>
  <hr class="m-0">

  <div class="section-skills pb-3  pt-2">

    <div class=" projects  fs-2  text-center ">Skills </div>

    <div class="container skills d-flex justify-content-center  ">



      <div class="container  ">
        <label class="skill-label " for="html">HTML <img src="/resource/icons/html.png"> </label>

        <div class="progress mb-2">
          <div id="html-progress-bar" class="progress-bar progress-bar-loader  bg-secondary" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <label class="skill-label " for="html">PHP <img src="/resource/icons/php.png"></label>

        <div class="progress mb-2">
          <div id="php-progress-bar" class="progress-bar progress-bar-loader  bg-secondary" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <label class="skill-label " for="html">Node.js <img height="16px" width="16px"
            src="/resource/icons/nodejs.png"></label>

        <div class="progress mb-2">
          <div id="nodejs-progress-bar" class="progress-bar progress-bar-loader  bg-secondary" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>



      <div class="container  ">
        <label class="skill-label " for="html">JavaScript <img src="/resource/icons/js.png"></label>

        <div class="progress mb-2">
          <div id="javascript-progress-bar" class="progress-ba progress-bar-loader r bg-secondary" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <label class="skill-label " for="html">Bootstrap <img src="/resource/icons/bootstrap.png"></label>
        <div class="progress mb-2">
          <div class="progress-bar progress-bar-loader  bg-secondary" role="progressbar" aria-valuenow="25"
            aria-valuemin="0" aria- id="bootstrap-progress-bar" valuemax="100"></div>
        </div>
        <label class="skill-label " for="html">Express.js <img src="/resource/icons/expressjs.png" height="16px"
            width="16px"></label>
        <div class="progress mb-2">
          <div class="progress-bar progress-bar-loader  bg-secondary" role="progressbar" aria-valuenow="25"
            aria-valuemin="0" aria- id="Express-progress-bar" valuemax="100"></div>
        </div>
      </div>


    </div>
  </div>


  <hr class="m-0">
  <div class="section-2 pt-3  " id="projects">

    <div class=" projects  fs-2  text-center">Projects</div>





    <div class="container-fluid  d-flex align-items-center  justify-content-center gap-4 flex-wrap space">
      <!-- card starts here -->

      <div class="card my-1 mb-3 " style="width: 24rem;">
        <img src="/resource/images/AI-Image-Generator[0].png" class="card-img-top" alt="...">
        <span class="badge m-2 mt-4    bg-secondary"></span>
        <div class="card-body">
          <h5 class="card-title">AI-Image Generator</h5>
          <div class="mb-2">
            <img src="/resource/icons/nodejs.png">
            <img src="/resource/icons/expressjs.png">

            <img src="/resource/icons/ejs.png">     <img src="/resource/icons/bootstrap.png">
            <img src="/resource/icons/css.png">
       

          </div>
          <p class="card-text">
          A Project made using the <a href="https://openai.com/blog/openai-api"> OpenAI API</a>, specifically <a href="https://openai.com/dall-e-3">DALL-E</a>, to create images based on user-provided prompts. It works with both models(dall-e-3, dall-e-2)  </p>
          <a href="/AI-Image-Generator" class="btn btn-dark">See More</a>
        </div>
      </div>
      <!-- card starts here -->
      <!-- card starts here -->

      <div class="card my-1 mb-3 " style="width: 24rem;">
        <img src="/resource/images/Chat-App_-Socket.IO[0].png" class="card-img-top" alt="...">
        <span class="badge m-2 mt-4    bg-secondary">Real-time web applications</span>
        <div class="card-body">
          <h5 class="card-title">Chat App [Socket.IO]</h5>
          <div class="mb-2">
            <img src="/resource/icons/ejs.png">
            <img src="/resource/icons/css.png">
            <img src="/resource/icons/nodejs.png">
            <img src="/resource/icons/expressjs.png">

          </div>
          <p class="card-text">
            A real-time group chat application built with Socket.io. Participants can send messages that are immediately
            displayed to all users connected to the chat</p>
          <a href="/Chat-App_-Socket-IO" class="btn btn-dark">See More</a>
        </div>
      </div>
      <!-- card starts here -->

      <!-- card starts here -->

      <div class="card my-1 mb-3 " style="width: 24rem;">
        <img src="/resource/images/URLShortenerAPI[0].png" class="card-img-top" alt="...">
        <span class="badge m-2 mt-4    bg-secondary"></span>
        <div class="card-body">
          <h5 class="card-title">URL Shortener API</h5>
          <div class="mb-2">
            <img src="/resource/icons/nodejs.png">
            <img src="/resource/icons/expressjs.png">
            <img src="/resource/icons/mongodb.png">
          </div>
          <p class="card-text">
            A robust and user-friendly URL shortening API. It allows users to generate shareable links from long URLs.
            With features like custom aliases and optional dates.</p>
          <a href="/URLShortenerAPI" class="btn btn-dark">See More</a>
        </div>
      </div>
      <!-- card starts here -->

      <div class="card my-1 mb-3 " style="width: 24rem;">
        <img src="/resource/images/Note-Master[0].png" class="card-img-top" alt="...">
        <span class="badge m-2 mt-4    bg-secondary">Full-stack Project</span>
        <div class="card-body">
          <h5 class="card-title">Note Master</h5>
          <div class="mb-2">
            <img src="/resource/icons/html.png"> <img src="/resource/icons/css.png"> <img src="/resource/icons/js.png">
            <img src="/resource/icons/php.png"> <img src="/resource/icons/bootstrap.png"> <img
              src="/resource/icons/mysql.png">
          </div>
          <p class="card-text">
            "Note Master" is a dynamic note-sharing project. It includes has user authentication, note management, and
            the ability to adjust visibility between public and private notes.</p>
          <a href="/Note-Master" class="btn btn-dark">See More</a>
        </div>
      </div>


      <!-- card ends here -->
      <!-- card starts here -->

      <div class="card my-1 mb-3 " style="width: 24rem;">
        <img src="/resource/images/Sticky-Notes[].png" class="card-img-top" alt="...">
        <span class="badge m-2 mt-4    bg-secondary">Chrome Extension</span>
        <div class="card-body">
          <h5 class="card-title">Sticky-Notes</h5>
          <div class="mb-2">
            <img src="/resource/icons/html.png"> <img src="/resource/icons/css.png"> <img src="/resource/icons/js.png">

          </div>
          <p class="card-text">"Sticky Notes" Chrome Extension simplifies note-taking in Chrome, offering easy creation,
            management, and editing of multiple notes for quick organization and accessibility. </p>
          <a href="/Sticky-Notes" class="btn btn-dark">See More</a>
        </div>
      </div>


      <!-- card ends here -->


      <!-- card starts here -->

      <div class="card my-1 mb-3 " style="width: 24rem;">
        <img src="/resource/images/Live-ISS-Tracker[0].png" class="card-img-top" alt="...">
        <span class="badge m-2 mt-4    bg-secondary">Live Tracking</span>
        <div class="card-body">
          <h5 class="card-title">ISS Tracker</h5>
          <div class="mb-2">
            <img src="/resource/icons/html.png"> <img src="/resource/icons/css.png"> <img src="/resource/icons/js.png">
            <img src="/resource/icons/bootstrap.png">
          </div>
          <p class="card-text">The ISS Tracker 🛰️ web app gives live updates on the International Space Station (ISS),
            featuring a dynamic map with its current location and key details.</p>
          <a href="/Live-ISS-Tracker" class="btn btn-dark">See More</a>
        </div>
      </div>


      <!-- card ends here -->
      <!-- card starts here -->

      <div class="card my-1 mb-3 " style="width: 24rem;">
        <img src="/resource/images/Weather-API[0].png" class="card-img-top" alt="...">
        <span class="badge m-2 mt-4    bg-secondary">API integration</span>
        <div class="card-body">
          <h5 class="card-title">Weather API</h5>
          <div class="mb-2">
            <img src="/resource/icons/html.png"> <img src="/resource/icons/css.png"> <img src="/resource/icons/js.png">
            <img src="/resource/icons/bootstrap.png">
          </div>
          <p class="card-text">"Weather API ☀️" is a minimalistic web app using HTML, Bootstrap, and JavaScript to fetch
            and display real-time weather data of cities using <a
              href="https://api-ninjas.com/api/weather">api-ninjas.com</a> API.</p>
          <a href="/Weather-API" class="btn btn-dark">See More</a>
        </div>
      </div>


      <!-- card ends here -->

    </div>



  </div>

  <hr class="m-0">

  <div class="section-3  container-fluid ">

    <div class="container  d-flex justify-content-center">

      <a target="_blank" href="https://www.linkedin.com/in/pavanraiyani/"><img width="32px" data-toggle="tooltip"
          data-placement="top" title="pavanraiyani" class="m-3 icons" height="32px" src="/resource/icons/linkedin.png"
          alt=""></a>
      <a target="_blank" href="mailto:hire@pavanraiyani.in"><img data-toggle="tooltip" data-placement="top"
          title="Hire@Pavanraiyani.in" width="32px" class="m-3 icons" height="32px" src="/resource/icons/gmail.png"
          alt=""></a>
      <a target="_blank" href="https://github.com/pavandoescode"><img data-toggle="tooltip" data-placement="top"
          title="@pavandoescode" width="32px" class="m-3 icons" height="32px" src="/resource/icons/github.png"
          alt=""></a>
      <a target="_blank" href="https://www.instagram.com/pavan_raiyani/"><img data-toggle="tooltip" data-placement="top"
          title="@pavandoescode" width="32px" class="m-3 icons" height="32px" src="/resource/icons/instagram.png"
          alt=""></a>
    </div>



  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    animateProgressBar("html", 85); // Example values, replace with your actual skill values
    animateProgressBar("php", 80);
    animateProgressBar("nodejs", 77);
    animateProgressBar("javascript", 70);
    animateProgressBar("bootstrap", 80);
    animateProgressBar("Express", 65);
  });

  function animateProgressBar(skill, value) {
    const progressBar = document.querySelector(`#${skill}-progress-bar`);
    let width = 1;

    const animation = setInterval(function () {
      if (width >= value) {
        clearInterval(animation);
      } else {
        width++;
        progressBar.style.width = width + "%";
      }
    }, 1);
  }
</script>





</body>

</html>